load_module /usr/lib/nginx/modules/ngx_stream_module.so;

worker_processes 4;
worker_rlimit_nofile 40000;

events {
    worker_connections 8192;
}

stream {
    upstream k3s_http {
        least_conn;
{% for server in groups['servers'] %}
        server {{ hostvars[server].ip }}:80 max_fails=3 fail_timeout=5s;
{% endfor %}
    }

    server {
        listen 80;
        proxy_pass k3s_http;
    }

    upstream k3s_https {
        least_conn;
{% for server in groups['servers'] %}
        server {{ hostvars[server].ip }}:443 max_fails=3 fail_timeout=5s;
{% endfor %}
    }

    server {
        listen 443;
        proxy_pass k3s_https;
    }

    upstream rancher {
        least_conn;
{% for server in groups['servers'] %}
        server {{ hostvars[server].ip }}:6443 max_fails=3 fail_timeout=5s;
{% endfor %}
    }

    server {
        listen 6443;
        proxy_pass rancher;
    }
}
